<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet_reservation" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet_reservation" >
        <activity
            android:name=".addmod"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".register"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pagemenu"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".reservactivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".listevoitures"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".addvoit"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Main_Activity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>